.main {
    background: #f9fafb;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-border{
    width: 640px;
    height: 88%;
    background: #fff;
    border-radius: 32px;
    display: flex;
    box-sizing: border-box;
    padding: 90px 160px;
}

.login-box{
    width: 100%;
    margin: auto;
}

button{
    width: 100% !important;
    padding: 3.5% 1% !important;
    border-radius: 4px !important;
}

.logo-img{
    display: block;
    width: 100px;
    margin: 0px auto;
}


form p {
    margin-bottom: 2%;
    margin-top: 2%;
}

form input {
    margin-bottom: 5%;
}

a:hover {
    cursor: pointer;
}

.font-size1{
    font-size: 0.8rem;
}

input[type="text"], input[type="password"]{
    width: 98%;
}

.float-right{
    display: block;
    padding-left: 68%;
}


.underline{
    text-decoration: underline;
}

.text-center{
    text-align: center;
}

.logos{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logos img {
    width : 48px;
    height: 48px;
}